<table border="1">
<thead>
<tr>
<th>Feature</th>
<th>Type</th>
<th>Dataset</th>
<th>Description</th>
<th>Url</th>
</tr>
</thead>
<tbody>
<tr>
<td>avg_weeks_unemployed</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Average Weeks Unemployed (Units: Number of Weeks, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/UEMPMEAN">https://fred.stlouisfed.org/series/UEMPMEAN</a></td>
</tr>
<tr>
<td>cont_claims_insur_unemploy</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Continued Claims - Insured Unemployment (Units: Number Count, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/CCSA#0">https://fred.stlouisfed.org/series/CCSA#0</a></td>
</tr>
<tr>
<td>full_employ_level</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Employment Level - Full-Time, All Industries (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/CE16OV">https://fred.stlouisfed.org/series/CE16OV</a></td>
</tr>
<tr>
<td>part_employ_level</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Employment Level - Part-Time for Economic Reasons, All Industries (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/LNS12032194">https://fred.stlouisfed.org/series/LNS12032194</a></td>
</tr>
<tr>
<td>not_in_labor_force</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Not in Labor Force (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/LNS15000000">https://fred.stlouisfed.org/series/LNS15000000</a></td>
</tr>
<tr>
<td>gov_unemp_insur</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Government social benefits to persons: Unemployment insurance (Units: Billions of Dollars, Seasonally Adjusted Annual Rate)</td>
<td><a href="https://fred.stlouisfed.org/series/W825RC1">https://fred.stlouisfed.org/series/W825RC1</a></td>
</tr>
<tr>
<td>labor_particip_women</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Labor Force Participation Rate - Women (Units: Percent, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/LNS11300002">https://fred.stlouisfed.org/series/LNS11300002</a></td>
</tr>
<tr>
<td>labor_particip_men</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Labor Force Participation Rate - Men (Units: Percent, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/LNS11300001">https://fred.stlouisfed.org/series/LNS11300001</a></td>
</tr>
<tr>
<td>labor_particip_total</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Total Labor Force Participation Rate (Units: Percent, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/CIVPART">https://fred.stlouisfed.org/series/CIVPART</a></td>
</tr>
<tr>
<td>real_estate_loans</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Real Estate Loans, All Commercial Banks (Units: Billions of U.S. Dollars, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/REALLN">https://fred.stlouisfed.org/series/REALLN</a></td>
</tr>
<tr>
<td>consumer_loans</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Consumer Loans, All Commercial Banks (Units: Billions of U.S. Dollars, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/CONSUMER">https://fred.stlouisfed.org/series/CONSUMER</a></td>
</tr>
<tr>
<td>commerc_indust_loans</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Commercial and Industrial Loans, All Commercial Banks (Units: Billions of U.S. Dollars, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/BUSLOANS">https://fred.stlouisfed.org/series/BUSLOANS</a></td>
</tr>
<tr>
<td>m1_real</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Real M1 Money Stock (Units: Billions of 1982-84 Dollars, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/M1REAL">https://fred.stlouisfed.org/series/M1REAL</a></td>
</tr>
<tr>
<td>unemp_less_5_wks</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Number Unemployed for Less Than 5 Weeks (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/UEMPLT5">https://fred.stlouisfed.org/series/UEMPLT5</a></td>
</tr>
<tr>
<td>unemp_5_to_14_wks</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Number Unemployed for 5-14 Weeks (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/UEMP5TO14">https://fred.stlouisfed.org/series/UEMP5TO14</a></td>
</tr>
<tr>
<td>unemp_15_to_26_wks</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Number Unemployed for 15-26 Weeks (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/UEMP15T26">https://fred.stlouisfed.org/series/UEMP15T26</a></td>
</tr>
<tr>
<td>unemp_over_27_wks</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Number Unemployed for 27 Weeks &amp; Over (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/UEMP27OV">https://fred.stlouisfed.org/series/UEMP27OV</a></td>
</tr>
<tr>
<td>personal_consum_exp</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Personal Consumption Expenditures (Units: Billions of Dollars, Seasonally Adjusted Annual Rate)</td>
<td><a href="https://fred.stlouisfed.org/series/PCE">https://fred.stlouisfed.org/series/PCE</a></td>
</tr>
<tr>
<td>personal_save_rate</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Personal Saving Rate (Units: Percent, Seasonally Adjusted Annual Rate)</td>
<td><a href="https://fred.stlouisfed.org/series/PSAVERT">https://fred.stlouisfed.org/series/PSAVERT</a></td>
</tr>
<tr>
<td>emp_pop_ratio</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Employment-Population Ratio (Units: Percent, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/EMRATIO">https://fred.stlouisfed.org/series/EMRATIO</a></td>
</tr>
<tr>
<td>unemploy_rate</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Unemployment Rate (Units: Percent, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/UNRATE">https://fred.stlouisfed.org/series/UNRATE</a></td>
</tr>
<tr>
<td>insured_unemploy_rate</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>Insured Unemployment Rate (Units: Percent, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/IURSA">https://fred.stlouisfed.org/series/IURSA</a></td>
</tr>
<tr>
<td>target_retail</td>
<td><em>float</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Retail Trade (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/USTRADE#0">https://fred.stlouisfed.org/series/USTRADE#0</a></td>
</tr>
<tr>
<td>target_mining_logging</td>
<td><em>integer</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Mining and Logging (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/USMINE">https://fred.stlouisfed.org/series/USMINE</a></td>
</tr>
<tr>
<td>target_construction</td>
<td><em>integer</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Construction (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/USCONS">https://fred.stlouisfed.org/series/USCONS</a></td>
</tr>
<tr>
<td>target_edu_health</td>
<td><em>integer</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Education and Health Services (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/USEHS">https://fred.stlouisfed.org/series/USEHS</a></td>
</tr>
<tr>
<td>target_manufacturing</td>
<td><em>integer</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Manufacturing (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/MANEMP">https://fred.stlouisfed.org/series/MANEMP</a></td>
</tr>
<tr>
<td>target_prof_business</td>
<td><em>integer</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Professional and Business Services (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/USPBS">https://fred.stlouisfed.org/series/USPBS</a></td>
</tr>
<tr>
<td>target_gov</td>
<td><em>integer</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Government (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/USGOVT">https://fred.stlouisfed.org/series/USGOVT</a></td>
</tr>
<tr>
<td>target_leisure_hospitality</td>
<td><em>integer</em></td>
<td>complete_final_data.csv</td>
<td>All Employees, Leisure and Hospitality (Units: Thousands of Persons, Seasonally Adjusted)</td>
<td><a href="https://fred.stlouisfed.org/series/USLAH">https://fred.stlouisfed.org/series/USLAH</a></td>
</tr>
</tbody>
</table>
